<div [attr.id]="name" class="section" [class.is-in-view]="isInView">
  <div class="about-me-container">
    <h1 class="profile-heading">{{ name }}</h1>
    <div class="details">
      <p class="profile-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
        sequi praesentium quos ab error possimus quo, doloribus sint illo
        deleniti dolorem asperiores magnam dolor qui, consequatur earum nemo
        debitis sapiente!
      </p>
      <img [src]="imagePath" alt="Profile Picture" class="image" />
    </div>
    <!-- <div class="profile-image-container">
      
    </div> -->
  </div>
</div>
