<div [attr.id]="name" class="section" [class.is-in-view]="isInView">
  <div class="about-me-container">
    <h1 class="profile-heading">{{ name }}</h1>
    <div class="details">
      <div class="profile-description">
        @for (line of description; track $index) {
        <p class="profile-text">
          {{ line }}
        </p>
        }
      </div>
      <img [src]="imagePath" alt="Profile Picture" class="image" />
    </div>
    <!-- <div class="profile-image-container">
      
    </div> -->
  </div>
</div>
