.section {
  padding: 0 5dvw 0 5dvw;
  padding-top: calc(var(--mat-toolbar-standard-height));
  // padding-bottom: calc(var(--mat-toolbar-standard-height) + 5dvh);
  // height: calc(95dvh - var(--mat-toolbar-standard-height));
  color: white;
}

.section > h1 {
  -webkit-user-select: none;
  user-select: none;
}

.section {
  opacity: 0; /* Set the initial opacity to 0 (invisible) */
  animation: none;
}

.is-in-view {
  opacity: 1;
  animation: my-animation 0.5s ease-in-out;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  row-gap: 3dvh;
  column-gap: 3dvw;
}

@keyframes my-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
