<main class="main">
  <mat-toolbar class="header">
    <div class="logo">Logo</div>
    <nav class="navbar">
      <mat-action-list class="navbar-list">
        @for (section of contentSections; track $index) {
        <button
          mat-button
          (click)="scroll(section.name)"
          type="button"
          class="navbar-list-item"
        >
          {{ section.name }}
        </button>
        }
      </mat-action-list>
    </nav>
    <div class="toggle-theme-button-container">
      <button
        mat-icon-button
        type="button"
        aria-label="Button for theme toggle"
        (click)="toggleTheme()"
      >
        <mat-icon [fontIcon]="theme" aria-hidden="false"></mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <app-sections></app-sections>
</main>
